a {
  text-decoration: none;
  color: #0033aa;
  background-image: linear-gradient(to top, #0033aa 1px, transparent 1px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: .3s background-size; }
  a:hover {
    background-size: 100% 100%;
    transition-delay: .1s; }

.node--type-article {
  padding-top: 20px; }
  .node--type-article:before {
    content: "";
    display: block;
    background: url(/themes/custom/minirants/images/torn-paper.png) top center repeat-x;
    height: 60px;
    position: relative;
    z-index: 1;
    margin-bottom: 40px; }
  .node--type-article .field-name-field-header-image {
    max-width: 1280px;
    max-height: 200px;
    margin: -56px auto 50px;
    opacity: .3;
    transition: .5s all; }
    .node--type-article .field-name-field-header-image:hover {
      opacity: 1;
      transition-delay: .2s; }
      .node--type-article .field-name-field-header-image:hover .field-items {
        max-height: 600px;
        box-shadow: 0px 8px 35px #999;
        transform: scale(1.01);
        transition-delay: .2s; }
        @media (max-width: 900px) {
          .node--type-article .field-name-field-header-image:hover .field-items {
            max-height: 500px; } }
        @media (max-width: 600px) {
          .node--type-article .field-name-field-header-image:hover .field-items {
            max-height: 400px; } }
    .node--type-article .field-name-field-header-image .field-items {
      max-height: 200px;
      overflow: hidden;
      transition: .5s all;
      box-shadow: 0px 4px 4px #AAA;
      transform: scale(1);
      position: relative; }
      .node--type-article .field-name-field-header-image .field-items .field-item {
        font-size: 0; }
    .node--type-article .field-name-field-header-image img {
      width: 100%;
      height: auto; }
  .node--type-article .field-name-field-image {
    padding: 0 30px; }
    .node--type-article .field-name-field-image img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto; }
  .node--type-article > h2 {
    display: none; }
  .node--type-article > span {
    display: none; }
  .node--type-article > footer {
    display: none; }
  .node--type-article > .node__links {
    display: none; }
  .node--type-article .field-name-field-tags {
    display: none; }

.field-name-body {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 30px;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  color: #333344; }
  .field-name-body code {
    font-family: "Source Code Pro", monospace;
    display: block;
    border-left: 2px solid #0033aa;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    margin: 40px 20px;
    background-color: #f8f8f8; }
  .field-name-body hr {
    width: 35%;
    margin: 45px auto;
    border: none;
    border-top: 1px solid #cccccc; }
  .field-name-body p {
    margin: 30px 0; }
  .field-name-body blockquote {
    text-align: center;
    font-size: 34px;
    line-height: 48px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-style: italic;
    margin: 40px -60px;
    padding: 40px 0; }
    @media (max-width: 900px) {
      .field-name-body blockquote {
        margin: 40px 0; } }
    .field-name-body blockquote p {
      margin: 0; }
      .field-name-body blockquote p + p {
        margin-top: 20px; }
    .field-name-body blockquote cite {
      display: block;
      margin-top: 20px;
      font-size: 24px;
      font-weight: normal;
      font-style: normal; }

.short-rant, [data-history-node-id="1"] {
  perspective: 600px; }
  .short-rant .field-name-body, [data-history-node-id="1"] .field-name-body {
    font-family: "Reenie Beanie", cursive;
    font-size: 34px;
    line-height: 38px;
    text-align: center;
    max-width: 500px;
    padding: 0 50px;
    transform: rotate3d(4, 1, 0, 23deg); }
    .short-rant .field-name-body em, [data-history-node-id="1"] .field-name-body em {
      font-style: normal;
      text-decoration: underline; }
