header[role=banner] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
  font-family: $handwritten;
  font-size: 30px;
  line-height: 30px;

  h1 {
    margin: 55px 0 10px;

    a {
      background-image: linear-gradient(to top, transparent 11px, $link 12px, transparent 14px);
      &:hover {
        transition: .6s background-size;
      }
    }
  }
}