header[role=banner] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
  font-family: $handwritten;
  font-size: 30px;
  line-height: 30px;

  .site-name {
    margin: 55px 0 10px;
    display: block;
    font-size: 60px;

    a {
      background-image: linear-gradient(to top, transparent 13px, $link 14px, transparent 16px);
      background-size: 95% 100%;
      background-position: right;
      &:hover {
        transition: .6s background-size;
      }
    }
  }
}

main > .layout-content > h1 {
  font-family: $handwritten;
  font-size: 48px;
  text-transform: uppercase;

  position: absolute;
  top: 0;
  right: 0;
  margin: 0;

  transform: rotateZ(-90deg) translateY(-40px) translateX(-20px);
  transform-origin: 100% 50%;

  opacity: .2;
}
